{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.blade.php",
      "options": {
        "parser": "php",
        "printWidth": 100,
        "tabWidth": 4
      }
    }
  ]
}
