* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente-defecto), Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.fuente-uno {
    font-family: var(--fuente-uno), Verdana, Geneva, Tahoma, sans-serif;
}

.fuente-dos {
    font-family: var(--fuente-dos), Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.fs-10 {
    font-size: 5rem;
}

.fs-7 {
    font-size: 3rem;
}

// backgrounds
.bg-dark {
    background-color: var(--color-negro) !important;
}

.bg-grey {
    background-color: var(--color-gris);
}

.bg-nav {
    background-color: var(--color-1);
}

// Animación de la barra del NAV
.navbar-toggler:hover, .nav-hover:hover {
    #navsvgforfill {
        fill: #1f1f1f !important; /* Cambia el color al pasar el mouse */
        transition: fill 0.99999s ease; /* Transición suave opcional */
    }
}

.animated-link, .nav-hover {
    position: relative;
    display: inline-block;
    color: inherit;
    text-decoration: none;
    overflow: hidden;
}

.animated-link::after, .nav-hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color-2); /* Color de la línea */
    transition: none;
    transform-origin: left;
    opacity: 0;
    transition: opacity 0.3s ease, width 0.3s ease;
}

.animated-link:hover::after,.nav-hover:hover::after {
    width: 100%;
    opacity: 1; /* Aparece al hacer hover */
}

.animated-link:not(:hover)::after,.nav-hover:not(:hover)::after {
    opacity: 0; /* Desaparece cuando se deja de hacer hover */
    width: 0; /* Se contrae al no estar en hover */
}





/* color de hover */
.bg-danger{
    background-color: var(--color-1) !important;
}
.btn-outline-danger{
    --bs-btn-hover-bg: var(--color-1) !important;
    --bs-btn-border-color: var(--color-1) !important;
    --bs-btn-color: var(--color-1) !important;
    --bs-btn-hover-border-color: var(--color-1) !important;
    --bs-btn-active-bg: var(--color-1) !important;
    --bs-btn-disabled-color: var(--color-1) !important;
    --bs-btn-disabled-border-color:  var(--color-1) !important;
}





// EMPEIZA: Esto es el color eprsonalizado de la barra de años para el primer gráfico del panel

/* Estilo para el slider */
#yearSelector1 {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
}

#yearSelector1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: rgba(75, 192, 192, 1);
    border-radius: 50%;
    cursor: pointer;
}

#yearSelector1::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: rgba(75, 192, 192, 1);
    border-radius: 50%;
    cursor: pointer;
}
// TERMINA: Esto es el color eprsonalizado de la barra de años para el primer gráfico del panel rgb(192, 145, 75);



#yearSelector2 {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
}

#yearSelector2::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: rgb(255, 191, 1);
    border-radius: 50%;
    cursor: pointer;
}

#yearSelector2::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: rgb(255, 191, 1);
    border-radius: 50%;
    cursor: pointer;
}





/* Estilos para la leyenda del pastel */
#legend {
    margin: 0;
    padding: 0;
    max-height: 100%;
    overflow-y: auto;
}

#legend li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 5px;
}

#legend li div {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#legend li span {
    font-size: 14px;
    color: #333;
    white-space: nowrap; /* Evita que los nombres de actividades se partan */
    overflow: hidden;
    text-overflow: ellipsis; /* Si el texto es largo, lo corta con puntos suspensivos */
}
