// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


:root {
    --color-1: #AF2B1E;
    --color-2: #1d1d1d;
    --color-3: #d1d1d1;
    --color-blanco: #f4f4f4;
    --color-negro: #0e0e0e;
    --color-gris: #e4e4e4;
    --fuente-dancing: Dancing Script;
    --fuente-libre: Libre Baskerville;
    --fuente-defecto: Montserrat;
}