.quienes-somos {
    .bg-light2 {
        background: linear-gradient(to bottom, #f8f8f8, #535353bb, #f8f8f8);
    }
    .bg-light3 {
        background: linear-gradient(to bottom, #f8f8f8 0%, #b6b6b6bb 40%, #f8f8f8 99%);
    }
    .esto {
        /* From https://css.glass */
        
        background: linear-gradient(to right, #FF000090, #FFFF0099);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;   
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.8px);
        -webkit-backdrop-filter: blur(6.8px); 
    }
    .margenLG1{
        margin-left:-100px
    }
    .margenLG2{
        margin:0 -100px 0 100px; 
    }

    .serFit{
        width: 100%;
        object-fit: cover;
    }

    .otro {
        background-image: url(/public/img/corporativa/sliders/chiken-live.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        max-width: 100%;
        width: 100%;
    }

    @media (max-width: 576px) {
        .margenLG1{
            margin: 0;
        }
        .margenLG2{
            margin:0; 
        }
        .imagenLG{
            width: 120%;
            height: 120%;
        }
    }
    
    @media (min-width: 768px) and (max-width: 991px) {
        .margenLG1{
            margin: 0;
        }
        .margenLG2{
            margin:0; 
        }
        .imagenLG{
            width: 120%;
            height: 120%;
        }
      }
}
